:root {
  //Fonts
  --inter: "Inter", sans-serif;

  //Colors
  --black: #000;
  --white: #fff;
  --passus-red: #de0056;
  --passus-red-hover: #d30052;
  --passu-dark-grey: #7c7272;
  --grey5: #f6f4f2;
  --blur-not-header: #ffffff1a;
  --passus-black-grey: #595252;

  //Transiion
  --transition: 0.3s;
}
