@use "./__breakpoints" as b;
@use "sass:map";

.button {
  border-radius: 11px;
  padding: 10px 20px;

  &__primary {
    color: var(--white);
    background-color: var(--passus-red);

    @media (hover: hover) {
      &:hover {
        background-color: var(--passus-red-hover);
      }
    }
  }

  &__outline {
    color: var(--black);
    border: 1px solid var(--passus-grey);

    @media (hover: hover) {
      &:hover {
        color: var(--passus-red);
        border: 1px solid var(--passus-red);
      }
    }
  }
}
