@use "./__breakpoints" as b;
@use "sass:map";

.button {
  border-radius: 11px;
  color: var(--white);

  &__primary {
    padding: 10px 20px;
    background-color: var(--passus-red);

    @media (hover: hover) {
      &:hover {
        background-color: var(--passus-red-hover);
      }
    }
  }
}
