@use "./__breakpoints" as b;
@use "sass:map";
@use "./burger";
@use "./header-nav";

.header {
  padding: 20px 0;

  ul {
    list-style: none;
  }

  .container,
  &__nav,
  .main-navigation {
    display: flex;
  }

  .container,
  &__nav {
    align-items: center;
  }

  .main-navigation {
    flex: 1 1 100%;
  }

  //__mobile
  &__nav {
    [aria-current] {
      color: var(--passus-red) !important;

      @media (hover: hover) {
        &:hover {
          color: var(--black);
        }
      }
    }
    @media (max-width: map.get(b.$grid-breakpoints, xl)) {
      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 35%,
        rgba(242, 199, 213, 1) 100%
      );
      padding: 50px;
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 0;
      width: 80%;
      z-index: 1000;
      flex-direction: column;
      align-items: start;
      overflow: auto;
      transition: all 0.5s;

      &.active {
        left: 0;

        a {
          font-size: 16px;
        }
      }
    }
  }

  &.dark {
    position: absolute;
    top: 0;
    width: 100%;
    .header__nav {
      li {
        a {
          color: var(--white);
        }

        @media (hover: hover) {
          &:hover {
            background-color: rgba(#fff, 0.1);

            &.menu-item-has-children {
              a {
                &::after {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
        &.grupa-passus {
          @media (hover: hover) {
            &:hover {
              background-color: transparent;
            }
          }
        }

        ul {
          &.sub-menu {
            background-color: var(--grey5);
            li {
              @media (hover: hover) {
                &:hover {
                  background-color: transparent;
                }
              }
              a {
                color: var(--black);
                @media (hover: hover) {
                  &:hover {
                    color: var(--passus-red);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.light {
    background-color: var(--white);
    .header__nav {
      li {
        a {
          color: var(--black);
        }
        @media (hover: hover) {
          &:hover {
            background-color: rgba(#595252, 0.1);

            &.menu-item-has-children {
              a {
                &::after {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
        &.grupa-passus {
          @media (hover: hover) {
            &:hover {
              background-color: transparent;
            }
          }
        }

        ul {
          &.sub-menu {
            background-color: var(--grey5);
            li {
              @media (hover: hover) {
                &:hover {
                  background-color: transparent;
                }
              }

              a {
                color: var(--black);
                @media (hover: hover) {
                  &:hover {
                    color: var(--passus-red);
                  }
                }
              }
            }
          }
        }
      }
    }

    .burger {
      span {
        background-color: var(--black);
      }
    }
  }
}
