@use "./__breakpoints" as b;
@use "sass:map";
@use "./burger";
@use "./header-nav";

.header {
  &__top {
    padding: 5px 0;
    background-color: var(--passus-red);
    p {
      font-size: 11px;
      text-align: center;
      margin: 0 auto;
      color: var(--white);
      a {
        color: var(--black);
        @media (hover: hover) {
          &:hover {
            color: var(--white);
          }
        }
      }
    }
  }

  &__bottom {
    padding: 10px 0 20px;
  }

  ul {
    list-style: none;
  }

  .container,
  &__nav,
  .main-navigation {
    display: flex;
  }

  .container,
  &__nav {
    align-items: center;
  }

  .main-navigation {
    flex: 1 1 100%;
  }

  //__mobile
  &__nav {
    [aria-current] {
      color: var(--passus-red) !important;

      @media (hover: hover) {
        &:hover {
          color: var(--black);
        }
      }
    }
    @media (max-width: map.get(b.$grid-breakpoints, xl)) {
      background: rgba(246, 244, 242, 1);
      background: linear-gradient(
        180deg,
        rgba(246, 244, 242, 1) 0%,
        rgba(246, 244, 242, 1) 35%,
        rgba(242, 199, 213, 1) 100%
      );
      padding: 75px 24px;
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 0;
      z-index: 5;
      flex-direction: column;
      align-items: start;
      overflow: auto;
      transition: all 0.5s;
      width: 100%;
      @media (min-width: map.get(b.$grid-breakpoints, sm)) {
        padding: 50px;
      }
      &.active {
        left: 0;

        a {
          font-size: 16px;
        }
      }
    }
  }

  &.dark {
    position: absolute;
    top: 0;
    width: 100%;
    .header__nav {
      li {
        a {
          color: #000;
          font-weight: 600;
          @media (min-width: map.get(b.$grid-breakpoints, xl)) {
            color: var(--white);
          }
        }

        &.menu-item-has-children {
          a {
            &::after {
              background-image: url(../assets/images/check.png);

              @media (min-width: map.get(b.$grid-breakpoints, xl)) {
                background-image: url(../assets/images/check-light.png);
              }
            }
          }
        }
        @media (hover: hover) {
          &:hover {
            background-color: rgba(#fff, 0.1);

            &.menu-item-has-children {
              a {
                &::after {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
        &.grupa-passus {
          @media (hover: hover) {
            &:hover {
              background-color: transparent;
            }
          }
        }

        ul {
          &.sub-menu {
            @media (min-width: map.get(b.$grid-breakpoints, xl)) {
              background-color: var(--grey5);
            }
            li {
              @media (hover: hover) {
                &:hover {
                  background-color: transparent;
                }
              }
              a {
                color: var(--black);
                @media (hover: hover) {
                  &:hover {
                    color: var(--passus-red);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.light {
    background-color: var(--white);
    .header__nav {
      li {
        a {
          color: var(--black);
        }
        &.menu-item-has-children {
          a {
            &::after {
              background-image: url(../assets/images/check.png);
            }
          }
        }
        @media (hover: hover) {
          &:hover {
            background-color: rgba(#595252, 0.1);

            &.menu-item-has-children {
              a {
                &::after {
                  transform: rotate(180deg);
                }
              }
            }
          }
        }
        &.grupa-passus {
          @media (hover: hover) {
            &:hover {
              background-color: transparent;
            }
          }
        }

        ul {
          &.sub-menu {
            @media (min-width: map.get(b.$grid-breakpoints, xl)) {
              background-color: var(--grey5);
            }
            li {
              @media (hover: hover) {
                &:hover {
                  background-color: transparent;
                }
              }

              a {
                color: var(--black);
                @media (hover: hover) {
                  &:hover {
                    color: var(--passus-red);
                  }
                }
              }
            }
          }
        }
      }
    }

    .burger {
      span {
        background-color: var(--black);
      }
    }
  }
}
