@use "./__breakpoints" as b;
@use "sass:map";
.header {
  &__nav {
    margin: 0 0 0 auto;
    gap: 10px;
    @media (min-width: map.get(b.$grid-breakpoints, md)) {
      gap: 30px;
    }
    [aria-current] {
      @media (hover: hover) {
        &:hover {
        }
      }
    }
    li {
      border-radius: 8px;
      padding: 8px 18px;
      transition: 0.35s;
      position: relative;

      @media (max-width: map.get(b.$grid-breakpoints, xl)) {
        width: 100%;
        background-color: var(--white);
        max-width: 400px;
      }
      &.menu-item-has-children {
        a {
          @media (max-width: map.get(b.$grid-breakpoints, xl)) {
            display: flex;
            align-items: center;
            &::after {
              margin-left: auto !important;
            }
          }
        }
      }
      @media (hover: hover) {
        &:hover {
          background-color: var(--blur);

          &.menu-item-has-children {
            a {
              &::after {
                transform: rotate(180deg);
              }
            }

            ul {
              opacity: 1;
              visibility: visible;

              li {
                backdrop-filter: none;
                background-color: transparent;
              }
            }
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        &.sub-menu {
          display: none;
          padding: 18px;
          border-radius: 8px;
          @media (min-width: map.get(b.$grid-breakpoints, xl)) {
            position: absolute;
            display: flex;
            z-index: 9;
            left: 0px;
            top: 50px;
            opacity: 0;
            visibility: hidden;
            transition: 0.35s ease-in-out;
          }

          li {
            padding: 0;
            @media (max-width: map.get(b.$grid-breakpoints, xl)) {
              backdrop-filter: none;
              background-color: transparent;

              &:not(:last-child) {
                margin-bottom: 5px;
              }
            }
            a {
              white-space: nowrap;
            }
          }
        }
      }

      &.grupa-passus {
        background-color: transparent;
        padding: 0;
        margin-top: 12px;
        @media (min-width: map.get(b.$grid-breakpoints, xl)) {
          margin-top: 0;
          margin-left: 120px;
        }
        a {
          color: var(--white) !important;
          background-color: var(--passus-red);
          padding: 11px 24px;
          border-radius: 6px;
          transition: var(--transition);
          @media (hover: hover) {
            &:hover {
              background-color: var(--passus-red-hover);
            }
          }
        }
      }
    }

    .menu-item-has-children {
      &.active {
        a {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
      a {
        &:not(:last-child) {
          position: relative;
          transition: rotate 0.45s;

          @media (max-width: map.get(b.$grid-breakpoints, xl)) {
            &.active {
              &::after {
                transform: rotate(180deg);
              }
            }
          }
          &::after {
            content: "";
            width: 15px;
            height: 15px;
            background-size: 13px 7px;
            vertical-align: middle;
            margin-left: 3px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            position: relative;
          }
        }
      }
    }
  }
}
