@use "sass:map";
@use "../components/_breakpoints" as b;
@use "../components/author-post-data";
@use "../pages/single-webinar_tnl";
@use "../pages/single-events_tnl.scss";

body {
  &.single-post,
  &.single-webinar_tnl {
    article {
      padding: 50px 0;
      color: var(--black);
      .container {
        max-width: 768px;

        .attributes-tnl {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 20px;

          .date {
            padding: 4px 12px;
            border-radius: 8px;
            background-color: var(--grey5);
          }
        }

        .entry-content {
          border-bottom: 2px solid var(--grey5);
          padding-bottom: 40px;
          @media (min-width: map.get(b.$grid-breakpoints, md)) {
            padding-bottom: 80px;
          }
          > * {
            padding: 7px 0;
            @media (min-width: map.get(b.$grid-breakpoints, md)) {
              padding: 14px 0;
            }
          }

          a {
            color: var(--passus-red);
          }
        }
      }
    }
  }
}
