@use "sass:map";
@use "../components/_breakpoints" as b;

body {
  &.single-events_tnl {
    article {
      ul {
        li {
          margin-left: 20px;
          &::marker {
            color: var(--passus-red);
          }
        }
      }
      a {
        color: var(--passus-red);
      }
    }
  }
}
