@use "../sass/components/_varibles" as v;
@use "../sass/components/__breakpoints" as b;
@use "sass:map";

.banner-ps {
  min-height: clamp(692px, 100vh, 720px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  display: flex;
  align-items: center;
  list-style: none;
  color: var(--white);

  h1 {
    font-size: clamp(16px, 5vw, 40px);
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    @media (min-width: map.get(b.$grid-breakpoints, sm)) {
      justify-content: flex-start;
    }
    &_item {
      flex: 1 1 100%;
      padding: clamp(30px, 5vw, 100px);
      border-radius: 16px;
      backdrop-filter: blur(25px);
      background-color: var(--blur-not-header);
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: map.get(b.$grid-breakpoints, sm)) {
        flex: 0 1 calc((100% / 2) - 20px);
      }

      @media (min-width: map.get(b.$grid-breakpoints, md)) {
        flex: 1 1 calc((100% / 3) - 20px);
      }

      @media (max-width: map.get(b.$grid-breakpoints, sm)) {
        height: 140px;
      }
    }
  }
}
