@use "../sass/components/__breakpoints" as b;
@use "sass:map";

.banner-datasheet-dark-ps {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  .breadcrumbs-container {
    margin-bottom: 45px;
    #breadcrumbs {
      display: inline-block;
      background-color: #ffffff10;
      border-radius: 8px;
      padding: 5px 12px;
      color: var(--grey3);
      a {
        color: var(--grey3);

        @media (hover: hover) {
          &:hover {
            color: var(--passus-red-hover);
          }
        }
      }
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 22px;
    @media (min-width: map.get(b.$grid-breakpoints, lg)) {
      gap: 80px;
    }
  }

  &__content {
    max-width: 768px;
    color: var(--grey3);
    h1 {
      font-size: clamp(16px, 1vw, 24px);
      margin-bottom: 24px;
    }

    .fake-title {
      font-size: clamp(25px, 3vw, 40px);
      font-weight: bold;
      margin-bottom: 24px;
      color: var(--white);
    }
  }
}
