@use "../sass/components/__breakpoints" as b;
@use "sass:map";

.bg-content-newsletter-ps {
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: var(--grey3);
  @media (min-width: map.get(b.$grid-breakpoints, lg)) {
    padding: 112px 0;
  }

  .title-block-ps {
    color: var(--white);
  }

  .container {
    display: flex;
    gap: 50px;
  }
  &__newsletter,
  &__left {
    max-width: 650px;
  }
  &__left {
    flex: 1 1 100%;
    &_description {
      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        li {
          margin-left: 20px;
          &::marker {
            color: var(--passus-red);
          }
        }
      }
    }
  }

  &__newsletter {
    margin-top: 50px;
    .wpcf7-form {
      display: flex;
      align-items: baseline;
      gap: 16px;
      flex-wrap: wrap;
      p {
        flex: 1 1 100%;
        @media (min-width: map.get(b.$grid-breakpoints, md)) {
          flex: 1 1 auto;
        }
      }
      .wpcf7-submit {
        border-radius: 11px;
        color: var(--white);
        padding: 15px 20px;
        background-color: var(--passus-red);
        border: none;
        font-family: var(--inter);
        font-size: 14px;
        font-weight: 500;
        width: 100%;
      }
    }
  }
}
