@use "../sass/components/__breakpoints" as b;
@use "./_assets/slick.scss";
@use "sass:map";

.slider-ps {
  background-color: var(--black);
  background-image: url(../assets/images/slider-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  &__slider {
    padding: 120px 0;
    @media (min-width: map.get(b.$grid-breakpoints, lg)) {
      padding: 215px 0;
    }
    &_slide {
      align-items: center;
      p {
        margin: 0 auto;
        max-width: 1000px;
        font-size: clamp(24px, 3vw, 35px);
        color: var(--white);
        span {
          color: var(--passus-red);
        }
      }
    }

    .slick-arrow {
      display: none !important;

      [aria-disabled="true"] {
        background-color: red;
        padding: 20px;
      }

      @media (min-width: 768px) {
        display: inline-block !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 5;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 48px 48px;
        transition: 0.25s;

        @media (hover: hover) {
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .slick-arrow.slick-next {
      right: 24px;
      background-image: url(../assets/images/icons/arrow-slider-right.svg);
    }

    .slick-arrow.slick-prev {
      left: 24px;
      background-image: url(../assets/images/icons/arrow-slider-left.svg);
    }

    .slick-dots {
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      @media (min-width: map.get(b.$grid-breakpoints, lg)) {
        bottom: 50px;
      }
    }
  }
}
