@use "../sass/components/__breakpoints" as b;
@use "sass:map";
@use "../sass/components/padding-section.scss";

.technology-partners-ps {
  text-align: center;
  background-color: var(--grey5);

  &__description {
    margin: 0 auto;
    max-width: 1000px;
  }

  .partners-tnl {
    &__partners {
      padding: 40px 0;
      @media (min-width: map.get(b.$grid-breakpoints, lg)) {
        padding: 64px 0;
      }
      .partner {
        background-color: var(--white);
      }
    }
  }
}
