@use "../sass/components/__breakpoints" as b;
@use "sass:map";

.title-descr-before-img-ps {
  text-align: center;
  &__description {
    max-width: 1000px;
    margin: 16px auto 32px;
    @media (min-width: map.get(b.$grid-breakpoints, md)) {
      margin: 24px auto 64px;
    }
  }

  &__image-before {
    margin-bottom: 20px;
  }
}
