@use "../sass/components/__breakpoints" as b;
@use "sass:map";

.upcoming-events-ps {
  @for $i from 1 through 6 {
    h#{7 - $i} {
      display: flex;
      gap: 12px;
      align-items: center;
      &::before {
        content: "";
        width: 32px;
        height: 32px;
        display: block;
        background: url(../assets/images/before-title/event_upcoming.svg)
          no-repeat
          center/cover;
      }
    }
  }

  &__items {
    margin-top: 38px;
    list-style: none;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: map.get(b.$grid-breakpoints, md)) {
      justify-content: start;
    }
    @media (min-width: map.get(b.$grid-breakpoints, lg)) {
      gap: 33px;
    }

    &_item {
      padding: 14px 12px;
      border-radius: 12px;
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid var(--grey5);
      transition: 0.35s;

      @media (min-width: map.get(b.$grid-breakpoints, md)) {
        padding: 28px 24px;
        flex: 0 1 calc((100% / 2) - 15px);
      }

      @media (min-width: map.get(b.$grid-breakpoints, lg)) {
        flex: 0 1 calc((100% / 3) - 33px);
      }

      @media (hover: hover) {
        &:hover {
          box-shadow: 8px 8px 24px -4px rgba(23, 23, 23, 0.08);
          border: 1px solid transparent;
        }
      }

      p,
      a {
        color: var(--black);
      }

      a {
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 8px;
        &::after {
          content: "";
          width: 20px;
          height: 20px;
          display: block;
          background-image: url(../assets/images/icons/arrow-black.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 8px 18px;
        }

        @media (hover: hover) {
          &:hover {
            color: var(--passus-red);
            &::after {
              filter: brightness(0) saturate(100%) invert(13%) sepia(88%)
                saturate(4592%) hue-rotate(327deg) brightness(95%)
                contrast(103%);
            }
          }
        }
      }

      &-date {
        font-size: 12px;
        color: var(--passus-black-grey);
      }

      &-title {
        flex: 1 1 100%;
        margin: 10px 0 20px;
        font-weight: 600;
        font-size: clamp(18px, 1vw, 24px);
      }
    }
  }
}
